<div class="well well-publication">
	<div class="publication-header">
		<div class="publication-publisher">
			<%= publication.publisher.try(:username) %> > <%= link_to "#{publication.project.try(:project_name)}", project_path(publication.project) %>		
		</div>
		<div class="publication-date">
			<%= publication_date(publication) %>
		</div>
		<div class="publication-views">
			既読：<%= publication_readmark_count(publication) %>	
			<span class="publication-views-list hide"><%= publication_readmark_list(publication) %></span>		
		</div>

		<% if current_user.id.to_s == publication.publisher_id.to_s %>
			<div class="publication-edit">
				<%= link_to image_tag("edit-small.png"), edit_project_publication_path(project, publication), title: 'エディット' %>
			</div>
			<div>
				<%= link_to image_tag("delete-bin.png"), project_publication_path(project, publication), method: :delete, data: {confirm: 'このメッセージと添付のファイルは削除されます。'}, title: '消す' %>
			</div>
		<% end %>
	</div>

	<div class="publication-message">

		<%= publication.message %>

		<% if publication.publication_attachments.present? %>
			<ul>
				<% publication.publication_attachments.each do |file| %>
				 	<li><%= link_to "#{file.attachment.file.filename}", file.attachment_url %></li>
				<% end %>		
			</ul>
		<% end %>
	</div>


	<div class="publication-comment-section">
		
		<div class="publication-comments-container">
			<% publication.publication_comments.each do |publication_comment| %>
			<div class="publication-comment">
				<div class="publication-comment-head">
					<%= publication_comment.publisher.try(:username) %>
				</div>
				<div class="publication-comment-line">
					<div class="publication-comment-body">
						<%= publication_comment.comment %>

						<% if publication_comment.publication_comment_attachments.present? %>
							<ul>
								<% publication_comment.publication_comment_attachments.each do |publication_comment_attachment| %>
										<li><%= link_to "#{publication_comment_attachment.attachment.file.filename}", publication_comment_attachment.attachment_url  %></li>
								<% end %>						
							</ul>
						<% end %>
					</div>
					<div class="publication-comment-information">
						<div class="publication-comment-date"><%= publication_comment_date(publication_comment) %></div> 
						<div class="publication-comment-readmarks">既読：<%= publication_comment_readmark_count(publication_comment) %></div>
					</div>
				</div>
			</div>

			<% end %>
		</div>

		<div class="publication-comment-form">
			<% publication_comment = publication.publication_comments.build %>
			<%= form_for([publication, publication_comment], html: {multipart: true}, namespace: publication.id) do |f| %>

				<div class="form-flex">

					<%= f.text_area :comment, required: true, class: 'comment-input', placeholder: 'コメント' %>


					<% publication_comment_attachment = publication_comment.publication_comment_attachments.build %>

					<%= f.fields_for publication_comment_attachment do |a| %>
							<%= a.file_field :attachment, multiple: true, name: "publication_comment_attachments[attachment][]", class: "hide" %>
					<% end %>					


					<%= f.submit "", class: 'submit-comment' %>
	
				</div>

			<% end %>
		</div>
	</div>
</div>
