<div class="notifications" data-notification="<%= project_path(notification.project) %>" id="<%= notification.id %>">
	<%= image_tag('', class: "notification-icon") %>
	<%= notification.content %><br/>
	案件名：<%= notification.project.project_name %>様
</div>