<div>
  <div class="sign-up-invited">
    <div class="sign-up-invited-head">
      <h2><%= resource.email %>様、ようこそ!</h2>
      <p><%= @invitor.username %>様からコリブリへ招待されました。コリブリのアカウントを作成して、他のメンバーとメッセージやファイルを共有しましょう！</p>
    </div>
    
    <div class="sign-up-invited-box">
      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

        <% if f.object.class.require_password_on_accepting %>
        <div class="form-group"><%= f.label :password, '新規パスワード' %><br />
        <%= f.password_field :password, autofocus: true, class: "form-control" %></div>

        <div class="form-group"><%= f.label :password_confirmation, '新規パスワードのご確認' %><br />
        <%= f.password_field :password_confirmation, class: "form-control" %></div>
        <% end %>

        <div class="form-group"><%= f.label :username, 'ご自身の名前' %><br/>
        <%= f.text_field :username, class: "form-control" %></div>

        <div class="form-group"><%= f.label :company, 'ご自身の事業所名' %><br/>
        <%= f.text_field :company, class: "form-control" %></div>

        <%= f.submit 'アカウントを作成する', class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>


