<div class="home">
<%= image_tag 'wallpaper.jpg' %>
  <div class="sign-up-invited">
    <div class="sign-up-invited-head">
      <h2><%= resource.email %>様、ようこそ!</h2>
      <p><%= @leader.company %>の<%= @leader.username %>様から'<%= @project.project_name %>'の案件へ招待されました。案件にアクセスし、他のメンバーとメッセージやファイルを共有するにはアカウントを登録してください。</p>
    </div>
    
    <div class="sign-up-invited-box">
      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

        <% if f.object.class.require_password_on_accepting %>
        <div class="form-group"><%= f.label :password %><br />
        <%= f.password_field :password, autofocus: true, class: "form-control" %></div>

        <div class="form-group"><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control" %></div>
        <% end %>

        <div class="form-group"><%= f.label :username %><br/>
        <%= f.text_field :username, class: "form-control" %></div>

        <div class="form-group"><%= f.label :company %><br/>
        <%= f.text_field :company, class: "form-control" %></div>

        <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>


