<nav class="navbar navbar-expand_lg navbar-dark blue-grey darken-3">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Purapura', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
  
    <ul class="nav navbar-nav pull-right">
      <li><% link_to '案件一覧へ', root_path %></li>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
        <li><%= current_user.email %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to 'サインアップ', new_user_registration_path %></li>
        <% end %>
      </ul>
    </ul>
  </div>
</nav>