<nav class="navbar navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Colibri', root_path, id: 'brand' %>
    </div>

    <div id="navbar">
    <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
        <li id="notification-menu">
          <div id="notification-button">
            <%= image_tag('bell-3-24.png') %>
            <% if @unread.present? %>
            <div id="notification-count-container">
              <p id="notification-count"><%= @unread.count %></p>
            </div>
            <div id="notification-container" class="notification-hidden">
              <ul id="notification-list">
                <% @unread.each do |notification| %>
                  <li class="notification-list-element">
                    <%= render partial: 'notifications/notification', locals: {notification: notification} %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          </div>
          
        </li>
        <li><%= link_to current_user.username, edit_user_registration_path(current_user), class: 'nav-item' %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,  class: 'nav-item' %></li>
        <div id="current-user"></div>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'nav-item' %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'nav-item' %></li>
        <% end %>
    </ul>
  </div>
</nav>