<!DOCTYPE html>
<html>
  <head>
  	<meta name="google-site-verification" content="Nldnui6hEMZRUzWKaAoYcD7L94Cax5BYN36vWCo4jOM" />
    <title>Beta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

 <body>
 	<div id="container">
	 	<div id="header">
	    	<%= render "layouts/navigation" %>
	 	</div>

	 	<div id="body">
		    <div id="flash">
		      <% flash.each do |key, value| %>
		        <% if value.length > 0 %><div class="alert alert-<%= key %>"><%= value %></div><% end %>
		      <% end %>
		    </div>

		    <div>
		      <%= yield %>
		    </div>
			
	 	</div>

	 	<div id="footer">
		    <%= render "layouts/footer" %>	
	 	</div> 		
 	</div>

  </body>
</html>