<!DOCTYPE html>
<html>
  <head>
  	<meta name="google-site-verification" content="Nldnui6hEMZRUzWKaAoYcD7L94Cax5BYN36vWCo4jOM" />
    <title>Beta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

 <body>
    <%= render "layouts/navigation" %>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
</html>