<div class="message-container" data-sender="<%= msg.user.id %>">
	<div class="message-username">
		<% if conversation == project.conversations.first %>
			<%= msg.user.try(:username) %>
		<% end %>
	</div>

	<div class="messages">
		<div class="message-content">
			<%= simple_format(msg.content) %>
		</div>
		<div class="message-info">
			<div class="message-time">
				<% if msg.created_at.strftime('%F') == Time.now.strftime('%F') %>
					<%= msg.created_at.try(:strftime, '%H:%M') %> 
			    <% else %>
				    <%= msg.created_at.try(:strftime, '%F') %>
				<% end %>
			</div>
			<div class="readmark-count">
				既読：<%= readmark_count(msg) %>人 
				<span class="readmark-list hide"><%= readmark_list(msg) %></span>
			</div>
		</div>
	</div>
</div>

