<div class="message-container" data-sender="<%= msg.user.id %>">
	<div class="message-username">
		<% if conversation == project.conversations.first %>
			<%= msg.user.try(:username) %>
		<% end %>
	</div>

	<div class="messages">

		<div class="message-content">
			<%= msg.content %>
		</div>
		<div class="message-time">
			<% if msg.created_at.strftime('%F') == Time.now.strftime('%F') %>
				<%= msg.created_at.try(:strftime, '%H:%M') %> 
		    <% else %>
			    <%= msg.created_at.try(:strftime, '%F') %>
			<% end %>
		</div>
	</div>
</div>

