<div class="container-fluid"> 
  <%-# Navigation menu -%>
  <%= render 'layouts/timeline_app_navigation' %>



  <div class="timeline-container">

  	<div class="well timeline-well">
  		<h1 class="timeline">タイムラインへようこそ！</h1>
  		<p>タイムラインは未読のメッセージやファイルをまとめる機能を持ってます。仕事をより効率よくこなせるために、コリブリが順番にメッセージを並べます。未読のメッセージがなければ、直近のやり取りを時系列で表示します。</p>
  	</div>

  	<div class="well timeline-well">
  		<p id="timeline-unread-message">未読のメッセージ：</p>
  		<div id="timeline-unread-count"><span id="timeline-unread-count-number"><%= @count %></span>件</div>

      <div id="timeline-all-read">
        <h2 class="h2-centered">お疲れ様です！<%= image_tag("small-emoji-muscle.png") %></h2>
        <div class="btn-centered">
          <%= link_to "過去のメッセージを見る", root_path, class: "btn btn-info" %>
        </div>
      </div>
  	</div>



	  <% @timelines.each do |timeline| %>
	  	<%= render partial: timeline, locals: {reporting: timeline.try(:reporting), contact: timeline.try(:contact), project: timeline.try(:project), publication: timeline.try(:publication)} %>

      <% if @readmarks.count > 0 && timeline.class.name != "Reporting" %>
        <%= render partial: "#{timeline.class.to_s.downcase}s/button", locals: {publication: timeline, reporting: timeline} %>
      <% elsif @readmarks.count > 0 && timeline.class.name == "Reporting" && timeline.confirmed %>
        <%= render partial: "#{timeline.class.to_s.downcase}s/button", locals: {publication: timeline, reporting: timeline} %>
      <% elsif @readmarks.count > 0 && timeline.class.name == "Reporting" && timeline.confirmed == false %>
        <%= render partial: "reportings/confirm_button", locals: {reporting: timeline, contact: timeline.contact} %>
      <% end %>

	  <% end %>
  </div>

</div>




