
<%= render 'layouts/app_navigation' %>

<div class="timeline-container">
  
  <div class="well well-devise well-membership">
    <h2 class="h2-centered">アカウントを管理する</h2>
     <div id="membership-management">
      <div class="form-box">

        <div id="change-account-info">
          <h3 class="h3-membership" >ご自身のアカウント情報を変更する</h3>


          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :username, 'ご自身のユーザー名' %><br />
              <%= f.text_field :username, autofocus: true, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :company, 'ご自身の事業所名' %><br />
              <%= f.text_field :company, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email, 'ご自身のメールアドレス' %><br />
              <%= f.email_field :email, class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password, 'パスワード' %> <i>(パスワードを変更する必要がない場合は何も書かないでください。)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %>桁以上のパスワードを記入してください。</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, 'パスワードの確認' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password, '現在のパスワード' %> <i>(アカウント情報を変更するには現在のパスワードを入力してください。)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "変更する", class: 'btn btn-info' %>
            </div>
          <% end %>
        </div>

        <div id="delete-account">
          <h3 class="h3-membership" >ご自身のアカウントを削除する</h3>

          <p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントが削除されます。同じメールアドレスのアカウントが作れなくなります。" }, method: :delete, class: 'btn btn-danger' %></p>
        </div>

      </div>


     </div>
    </div>
</div>
  


