<div class="home">
  <div class="sign-in">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username, 'ご自身のユーザー名' %><br/>
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :company, 'ご自身の事業所名' %><br />
        <%= f.text_field :company, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'ご自身のメールアドレス' %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字／数字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワードの確認' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する", class: 'btn btn-info' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="top-frame">
      
        <p class="top-message-idea" id="top-message-idea">チームで介護をする仕組みをお手伝いします。</p>
      
  </div>

  <%= render "devise/sessions/topmessage" %>
</div>



