<p><%= @leader.username %>様</p>

<p><%= @project.project_name %>様の案件から次のメンバーが削除されました：</p>

<p>
<% @deleted.each do |user| %>
	<% if user.username.present? %>
		<%= user.username %>様, <%= user.company %><br/>
	<% else %>
	<% end %>
<% end %>
</p>

<p><%= link_to '案件を見る', project_url(@project) %></p>