<p>
	<%= @user.username %>様、<%= @leader.username %>様から'<%= @project.project_name %>'の案件に招待されました。
</p>

<p>
	Purapuraで出来ること<br/>
 1) 担当者間でメッセージのやり取り<br/>
 2) 担当者間でレポート、提供票など、ファイルの共有
</p>

<a href="<%= project_url(@project) %>"><%= @project.project_name %>の案件へ</a>

<p>
	案件のメンバー：<br/>
	<% @users.each do |user| %>
	<%= user.username %>様, <%= user.company %><br/>
	<% end %>
</p>