<div class="email-body" style="background-image: url(https://s3.us-east-2.amazonaws.com/puraimage/swirl_pattern.png); padding-top: 30px; padding-bottom: 30px;">
	<div class="email-content" style="max-width: 500px; margin: auto; padding:30px; background-color:#fff;">
		<p>
			<%= @user.username %>様、<%= @leader.username %>様から<%= @project.project_name %>様の案件に招待されました。
		</p>

		<p>
			Purapuraで出来ること<br/>
		 1) 担当者間でメッセージのやり取り<br/>
		 2) 担当者間でレポート、提供票など、ファイルの共有
		</p>

		<%= link_to '案件を見る', project_url(@project) %>

		<p>
			案件内のメンバー：<br/>
			<% @users.each do |user| %>
			<%= user.username.present? ? user.username : user.email %>様, <%= user.try(:company) %><br/>
			<% end %>
		</p>

		<p>
         	ご利用ありがとうございます！
   		</p>
	</div>
</div>

