<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2> エラーが<%= pluralize(project.errors.count, "error") %>回発生しました:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_name, '案件名:' %>
    <%= form.text_field :project_name, id: :project_name, :required => 'required' %>
  </div>

  <div class="field">
    <%= form.label :leader_id, '案件のオーナー:' %>
    <%= form.collection_select(:leader_id, @users, :id, :username, :prompt => true, selected: @project.leader_id.to_i) %>
  </div>

  <div class="actions">
    <%= form.submit '登録する', class: "btn btn-info" %>
  </div>
<% end %>
