<%= form_with(model: @project, local: true) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2> エラーが<%= pluralize(@project.errors.count, "error") %>回発生しました:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <%= form.label :user_tokens, '名前からメンバーを探す:' %>
    <%= form.text_field :user_tokens, id: :project_user_tokens, data: {load: @tokens } %>
  </div>

  <div class="actions member-update">
    <%= form.submit 'メンバーを更新する', class: "btn btn-info" %>
  </div>

<% end %>