<div class="container-fluid">
	<%= render "layouts/projects_app_navigation" %>

	<div class="timeline-container">	
		<div class="well well-devise">
	  	  <h1>案件の担当マネジャーを設定する</h1>

	  	  <p>担当マネジャーは利用者様のサービス提供責任者を招待／削除する権限、それと担当マネジャーを設定する権限を持ってます。未登録の責任者は登録しない限り担当マネジャーにはなれません。</p>

		  <%= form_for @project, url: project_update_leader_path(@project) do |form| %>

			  <div class="field">
			    <%= form.label :leader_id, 'マネジャー:' %>
			    <%= form.collection_select(:leader_id, @registered, :id, :username, :prompt => true, selected: @leader.id) %>
			  </div>

			  <div class="actions">
			    <%= form.submit '登録する', class: "btn btn-info" %>
			  </div>
		  <% end %>
		</div>
	</div>
</div>



