<div class="container-fluid">
  <h1 class="h1-top-margin">利用者一覧</h1><br/>

  <%= link_to '+新規利用者', new_project_path, class: "btn btn-info", id: "btn-home" %><br/>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>案件名</th>
        <th>メンバー</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody id="project-index-table">
      <% @projects.each do |project| %>
        <tr class="clickable-row" data-link="<%= project_path(project) %>">
          <td><%= project.project_name %></td>
          <td class="project-index-users">
            <% project.users.each do |user| %>
              <% if user.username.present? %>
              <%= user.username %><%= ", " unless user==project.users.last %>
              <% else %>
              <%= user.email%><%= ", " unless user==project.users.last %>
              <%end%>
            <% end %>
          </td>
          <td><%= link_to '詳細', project %></td>
          <td>
            <% if policy(project).destroy? %>
              <%= link_to '消す', project, method: :delete, data: { confirm: 'この案件は削除されます' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>




