<div class="container-fluid">

	<%= render "layouts/projects_app_navigation" %>
	<div class="timeline-container">
		<div class="well well-devise">
			<h1><%= @project.project_name %>様の案件にメンバーを招待する</h1>

			<%= render 'invite_members' %>

			<div class="membership-form">
				<%= render 'memberships/invite_members' %>
			</div>

			<%= link_to 'サービス提供責任者を招待せずに進む', project_path(@project) %>
		</div>
		
	</div>
	
</div>