<p>
  <strong>Name:</strong>
  <%= @project.project_name %>
</p>

<div class="well">
	<div>
	    <%= render 'memberships/form' %>
    </div>
    <div>
    	Current users:
    	<%= render 'users' %>
    </div>
</div>


<div class="well">
	<div>
		<%= render 'messages/form' %>
	</div>

	<div>
		<%= render 'messages/list' %>
	</div>	
</div>
	
<div class="well">
	<div>
		<%= render 'documents/list' %>
	</div>

	<div>
		<%= render 'documents/form' %>
	</div>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
