<div class="project-top">
	<h1><%= @project.project_name %></h1>

	<div>
	    案件の担当マネジャー：
	    <%= @leader.username %>
    </div>

    <div>
    	<%= render 'memberships/list' %>
    </div>

    <% if @invited.present? %>
    	<div>
    		<%= render 'memberships/invited' %>
    	</div>
    <% end %>

    <% if policy(@project).edit? %>
    	<div id="member-button"><%= link_to 'メンバーの管理', project_memberships_path(@project), class: "button" %></div>
    <% end %>

</div>

<div class="tab-panel">
		<ul class="nav nav-tabs">
			<li class="nav-show nav-selected" id="nav-msg">メッセージ</li>
			<li class="nav-show" id="nav-file">ファイル共有</li>
		</ul>
</div>

<div class="container-fluid show-container">
	<div class="well project-well" id="well-msg">
		<div class="conversation-block">
			<div id="conversation-nav">
				<ul id="conversation-nav-list">
				<% @conversations.each do |conversation| %>
					<li class="conversation-list" id="<%= conversation.id %>"><% conversation.users.each do |user| %><%= user.username unless user==current_user %><%= ' '%><% end %></li>
				<% end %>
				</ul>
			</div>

			<div id="message-list">
				<%= render 'messages/list' %>
			</div>	

			<div id="message-form">
				<%= render 'messages/form' %>
			</div>
		</div>
    </div>
	
	<div class="well project-well well-hide" id="well-document">
		<div id="document-list">
			<%= render 'documents/list' %>
		</div>

		<div>
			<%= render 'documents/form' %>
		</div>
	</div>

    <%= link_to '案件一覧へ', projects_path %> |
    <% if policy(@project).edit? %>
	    	<%= link_to 'エディット', edit_project_path(@project) %> 
	    <% end %>
</div>

