<div class="container-fluid">
	<div>
		<%-# Navigation menu -%>
		<%= render 'layouts/projects_app_navigation' %>
	</div>

	<div id="project-show-block">
		<%-# show project -%>

		<div id="project-information-container">

			<%-# Project header / menu -%>
			<div id="project-name-container">
				<%= @project.project_name.delete("　") %>
			</div>

			<div id="project-other-information">
				<div id="member-information">
					<% unless policy(@project).is_leader? %>
						案件担当ケアマネジャー： <%= @leader.username %><br/>
					<% end %>

					<div id="member-list">
						案件メンバー：<%= @users.map{|user| user.username.present? ? user.username : "#{user.try(:email)}（未登録）" }.compact.join(',') %>
					</div>

					<%-# Display membership management button to project leader -%>
					<% if policy(@project).is_leader? %>
						<div id="member-button"><%= link_to 'メンバーの変更.招待へ', project_memberships_path(@project), class: "project-header-button" %></div>
					<% end %>
				</div>


				<div id="project-specs">

					<div id="spec-list">
						基本情報： <%= gender(@spec) %> <%= @spec.kaigo_level %> 						
					</div>


					<div id="edit-project-button">
						<%= link_to '基本情報へ', project_spec_path(@project, @spec), class: "project-header-button" %> 
					</div> 
				</div>


			</div>
		</div>

		<div id="new-publication-form">
			<%-# New publication form -%>
			<%= form_for([@project, @publication], html: {multipart: true}) do |f| %>
				
				<div class="form-group">
					<%= f.label :message, '案件メンバーにメッセージを共有する' %>
					<%= f.text_area :message, required: true, class: 'form-control', placeholder: "#{@project.project_name.gsub(/\s+/, "")}様のご事情について書く" %>
				</div>

				<%= f.fields_for :publication_attachments do |a| %>
				<div class="control-group">
					<div class="attach-set">
						<%= a.file_field :attachment, multiple: true, name: "publication_attachments[attachment][]", style: "display:none" %>
						<div class="input-append" id="input-append-button">
							<a id="upload-btn" class="project-header-button"><i class="publication-file-attachment-icon"></i>ファイルを選択</a>
							<div id="file-display"></div>
						</div>
						<% end %>
					</div>
					
				</div>

				<div class="form-group">
					<%= f.submit ' 送信 ', class: 'btn btn-info' %>
				</div>
			<% end %>
		</div>

	</div>

	<div class="timeline-container">		
		<div id="project-publication-container">
			<%-# Publication feed -%>

			<% @publications.each do |publication| %>

				<%= render partial: 'publications/publication', locals: {publication: publication, project: @project} %>

			<% end %>

		</div>
	</div>

	
</div>