<div class="well">
	<h1><%= @project.project_name %></h1>

	<div>
	    案件のオーナー：
	    <%= @leader.username %>
    </div>

    <div>
    	<%= render 'memberships/list' %>
    </div>

    <% if @invited.present? %>
    	<div>
    		<%= render 'memberships/invited' %>
    	</div>
    <% end %>

    <% if policy(@project).edit? %>
    	<%= link_to 'メンバーの管理', project_memberships_path(@project) %>
    <% end %>

    <br/>
	    <% if policy(@project).edit? %>
	    	<%= link_to 'エディット', edit_project_path(@project), class: "btn btn-info" %> 
	    <% end %>
</div>


<div class="well" id="message-well">
	<div id="message-list">
		<%= render 'messages/list' %>
	</div>	

	<div>
		<%= render 'messages/form' %>
	</div>
</div>
	
<div class="well">
	<div id="document-list">
		<%= render 'documents/list' %>
	</div>

	<div>
		<%= render 'documents/form' %>
	</div>
</div>



<%= link_to '案件一覧へ', projects_path %>
