<p>
  <strong>案件名:</strong>
  <%= @project.project_name %>
</p>

<div class="well">
	<div>
	    <%= render 'memberships/form' %>
    </div>
    <div>
    	案件のメンバー:
    	<%= render 'users' %>
    </div>
</div>


<div class="well">
	<div>
		<%= render 'messages/form' %>
	</div>

	<div>
		<%= render 'messages/list' %>
	</div>	
</div>
	
<div class="well">
	<div>
		<%= render 'documents/list' %>
	</div>

	<div>
		<%= render 'documents/form' %>
	</div>
</div>


<%= link_to 'エディット', edit_project_path(@project) %> |
<%= link_to '案件一覧へ', projects_path %>
