<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>


<p>
	Add a message:
</p>
<% render 'messages/form' %>

<div>
	<% @message.each do |msg| %>
	<%= @message.created_at %>
	<%= @message.content %>
	<% end %>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
