<%= javascript_tag do %>
	window.current_user_id = <%= current_user.id %>
<% end %>

<div class="project-top">
	<h1><%= @project.project_name %></h1>

    <div>
    	<%= render 'memberships/list' %>
    </div>

    <% if @unregistered.present? %>
    	<div>
    		<%= render 'memberships/invited' %>
    	</div>
    <% end %>

    <% if policy(@project).edit? %>
    	<div id="member-button"><%= link_to 'メンバーの変更.招待へ', project_memberships_path(@project), class: "button" %></div>
    <% end %>

</div>

<div class="background-pattern">
		
	<div class="tab-panel">
		<ul class="nav nav-tabs">
			<li class="nav-show nav-selected" id="nav-msg">メッセージ</li>
			<li class="nav-show" id="nav-file">ファイル共有</li>
			<li class="nav-show" id="nav-specs">基本情報</li>
		</ul>
	</div>

	<div class="container-fluid show-container">
		<div class="well project-well" id="well-msg">
			<div class="conversation-flex">
				<div id="conversation-nav">
					<ul id="conversation-nav-list">
					    <li class="conversation-list" id="<%= @conversation.id %>">
					        全メンバー:
					        <ul id="conversation-member-list">
					        	<% @conversation.users.each do |user| %>
					        		<% if user != current_user %>
										<li class="conversation-user"><%= online_status(user) %></li>
									<% end %>
								<% end %>
					        </ul>

					    </li>
					</ul>
				</div>
			</div>

			<div class="conversation-flex" id="message-block">
				<div id="message-list">
					<div class="conversation-messages" id="messages-<%= @conversation.id %>" data-conversation-id="<%= @conversation.id %>">
						<% @messages.each do |msg| %>
								
							<%= render partial: "messages/message", locals: {msg: msg, conversation: @conversation, project: @conversation.project} %>
							
						<% end %>
					</div>
				</div>	



				<div id="message-form">
					<%= render 'messages/form' %>
				</div>
			</div>
	    </div>
		
		<div class="well project-well well-hide" id="well-document">

			<div class="btn btn-info" id="file-button">新規アップロード</div>

			<div>
				<%= render 'documents/list' %>
			</div>

		</div>

		<div class="modal" id="file-form">
			<%= render 'documents/form' %>
		</div>

		<div class="well project-well well-hide" id="well-specs">
			<div class="spec-action-container">
				<%= link_to '基本情報を変更する', edit_project_spec_path(@project, @spec), class: "btn btn-info" %>
			</div>

			<%= render 'specs/show' %>
		</div>

	    <%= link_to '利用者一覧へ', projects_path %> 
	    <% if policy(@project).edit? %>
		    	|　<%= link_to 'エディット', edit_project_path(@project) %> 
		    <% end %>
	</div>

	<div id="copy-background">
		<div id="copy">
			コピー		
		</div>
	</div>

</div>

