<div class="publication-comment">
	<div class="publication-comment-head">
		<%= publication_comment.publisher.try(:username) %>
	</div>
	<div class="publication-comment-line">
		<div class="publication-comment-body">
			<%= simple_format(publication_comment.comment) %>

			<% if publication_comment.publication_comment_attachments.present? %>
				<ul>
					<% publication_comment.publication_comment_attachments.each do |publication_comment_attachment| %>
							<li><%= link_to "#{publication_comment_attachment.attachment.file.filename}", publication_comment_attachment.attachment_url  %></li>
					<% end %>						
				</ul>
			<% end %>
		</div>
		<div class="publication-comment-information">
			<div class="publication-comment-date"><%= publication_comment_date(publication_comment) %></div> 
			<div class="publication-comment-readmarks">既読：<%= publication_comment_readmark_count(publication_comment) %><span class="publication_comment_views_list hide"><%= publication_comment_readmark_list(publication_comment) %></span></div>
		</div>
	</div>
</div>