<%= form_for([@contact, @reporting], html: {multipart: true}) do |f| %>
	
	<div class="form-group">
		<%= f.label :title, '内容' %>
		<%= f.text_field :title, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :message, 'メッセージ' %>
		<%= f.text_area :message, class: 'form-control' %>
	</div>

	<%= f.fields_for :reporting_attachments do |a| %>
		<div class="form-group">
			<%= a.file_field :attachment, multiple: true, name: "reporting_attachments[attachment][]", style: "display:none" %>
			<div class="input-append">
				<a id="reporting-file-upload-btn" class="project-header-button"><i class="publication-file-attachment-icon"></i>ファイルを添付する</a>
				<div id="reporting-file-display"></div>
			</div>
		</div>
	<% end %>

	<div class="confirm-action-container">
		<div class="form-group">
			<%= f.submit '確認画面へ進む', class: "btn btn-info" %>
		</div>
	</div>


<% end %>