<div class="container-fluid">

	<%= render 'layouts/contacts_app_navigation' %>

	<div id="contact-show-block">
		<div id="contact-information-container">
			<h1><%= contact_company(@contact) %></h1>
			<%= contact_role(@contact) %><%= contact_name(@contact) %>
		</div>


		<div class="timeline-container">
			<h2 class="h2-centered">ステップ2/2：確認画面</h2>
			<div id="contact-reporting-list">
				<div id="reporting-preview">
					<p id="preview-title"><span class="confirm-preview-label"> 内容：</span><%= @reporting.title %></p>
					<p id="preview-message"><span class="confirm-preview-label">メッセージ：</span><br/><%= simple_format(@reporting.message) %></p>
					<div id="preview-attachment">
						<span class="confirm-preview-label">添付ファイル：</span><br/>
						<ul>
							<% @reporting.reporting_attachments.each do |a| %>
								<li><%= link_to "#{a.attachment.file.filename}", a.attachment_url, target: "_blank" %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>

			<div id="confirm-action-container">
				<div id="confirm-button-container">
					<%= link_to "#{ receiver(@reporting).company }に共有する", contact_reporting_toggle_confirm_path(@contact, @reporting), method: :patch , class: "btn btn-info" %>
				</div>

				<div id="confirm-other-buttons-container">
					<%= link_to '送る前に書き直す！', edit_contact_reporting_path(@contact, @reporting) %><br/>
					<%= link_to '削除する', contact_reporting_path(@contact, @reporting), method: :delete, data: {confirm: 'このメッセージと添付のファイルは削除されます。'} %>
				</div>
			</div>
		</div>

	</div>
</div>


