<div class="container-fluid">
	<%= render 'layouts/contacts_app_navigation' %>

	<div id="contact-show-block">
		<div id="contact-information-container">
			<h1><%= contact_company(@contact) %></h1>
			<%= contact_role(@contact) %><%= contact_name(@contact) %>
		</div>


		<div id="contact-reporting-container">
			<h3>送信したレポート.請求書類をエディットする</h3>

			<div id="edit-reporting-attachment">
				<div id="delete-reporting-file">
					添付ファイル：
						<% @reporting.reporting_attachments.each do |reporting_attachment| %>
							<%= render partial: 'reporting_attachments/reporting_attachment', locals: {reporting: @reporting, reporting_attachment: reporting_attachment} %>
						<% end %>
				</div>
				<div id="add-reporting-file">
					<%= form_for([@reporting, @reporting.reporting_attachments.build], html: {multipart: true}, remote: true) do |a| %>
						<%= a.label :attachment, "ファイルを追加する：" %>
						<%= a.file_field :attachment, multiple: true, name: "reporting_attachments[attachment]" %>
					<% end %>
				</div>

			</div>	

			<%= form_for([@contact, @reporting], html: {multipart: true}) do |f| %>
				
				<div class="form-group">
					<%= f.label :title, '内容' %>
					<%= f.text_field :title, class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :message, 'メッセージ' %>
					<%= f.text_area :message, class: 'form-control' %>
				</div>


				<div class="btn-to-center">
					<%= f.submit 'セーブする', class: "btn btn-info" %>
				</div>
			<% end %>	


		</div>

	</div>
</div>

