<div class="container-fluid">

	<%= render 'layouts/contacts_app_navigation' %>

	<div id="contact-show-block">
		<div id="contact-information-container">
			<h1><%= contact_company(@contact) %></h1>
			<%= contact_role(@contact) %><%= contact_name(@contact) %>
		</div>


		<div id="contact-reporting-container">
			<h3>新規書類</h3>
			<%= render 'reportings/form' %>			
		</div>

	</div>

</div>
