<%= form_for([@project, @project.documents.build], html: {multipart: true} ) do |f| %>
  <p class="form-group">
    <%= f.label :attachment, 'ファイルを選択する' %>
    <%= f.file_field :attachment, class: 'form-control', :required => 'required' %>
  </p>  

  <p class="form-group">
    <%= f.label :category, 'ファイルを選択する' %>
    <%= f.select :category, [['提供票'], ['月次経過支援記録'], ['メディカル[写真．動画]'], ['住環境[写真.動画]']], class: 'form-control', :required => 'required' %>
  </p>

  <p class="form-group">
    <%= f.label :name, 'ファイル名を設定する：' %>
    <%= f.text_field :name, class: 'form-control' %>
  </p>

  <p class="form-group">
    <%= f.label :user_ids, 'ファイルにアクセス権限を与える：' %>
    <%= f.collection_check_boxes(:user_ids, @project.users, :id, :username) %>
  </p>

  <p class="form-group">
    <%= f.submit "アップロード", class: 'btn btn-info' %>
  </p>
<% end %>
