<table class="table table-striped">
  <thead>
  	<tr>
  		<th>ファイル名</th>
      <th>タイプ</th>
      <th>閲覧できる人</th>
      <th>日付</th>
  		<th>ダウンロード</th>
  		<th>消す</th>
  	</tr>
  </thead>
  <tbody>
  	<% if @documents.each do |document| %>
		<tr>
			<td><%= document_name(document) %></td>
      <td><%= document.category %></td>
      <td><%= document.users.map{|user| user.try(:username) }.join(',') %></td>
      <td><%= document.created_at.try(:strftime, '%Y-%m-%d') %></td>
			<td><%= link_to "ダウンロード", document.attachment_url %></td>
			<td><% if policy(document).destroy? %><%= link_to "消す",  [document.project, document], method: :delete, data: { confirm: 'このファイルは削除されます' } %><% end %></td>
		</tr> 
	<% end.empty? %>
  <% end %>
  </tbody>
</table>
   
