<div class="container-fluid">
	<div id="tab-panel">
	  <ul class="nav nav-tabs">
	    <li class="nav-show nav-selected" id="nav-msg"><%= link_to '利用者一覧', root_path %></li>
	    <li class="nav-show" id="nav-file"><%= link_to '責任者.事業所', contacts_path %></li>
	  </ul>
	</div>

	<div class="well">
		<div id="contact-information-container">
			<%= contact_company(@contact) %><br/>
			<%= contact_role(@contact) %><%= contact_name(@contact) %>
		</div>

		<%= link_to "新しいレポート.請求書の共有", new_contact_reporting_path(@contact) %>

		<div id="contact-reporting-container">
			<h2>レポート.請求書類</h2>

			<div id="contact-reporting-list">
				<% @reportings.each do |reporting| %>
					<div class="reporting-block">
						<p class="reporting-title"><%= reporting.title %></p>
						<p class="reporting-message"><%= reporting.message %></p>
						添付ファイル：
						<% reporting.reporting_attachments.each do |file| %>
							<%= file.name %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>