<div class="container-fluid">

	<%= render 'layouts/contacts_app_navigation' %>


	<div id="contact-show-block">
		<div id="contact-information-container">
			<h1><%= contact_company(@contact) %></h1>
			<%= contact_role(@contact) %><%= contact_name(@contact) %>
		</div>


		<div id="contact-reporting-container">
		<%= link_to "書類をまとめて送信", new_contact_reporting_path(@contact), class: "btn btn-info btn-reporting" %><br/>

			<div id="contact-reporting-list">
				<% @reportings.each do |reporting| %>
					<div class="well reporting-well">
						<div class="reporting-well-head">
							<span class="reporting-title"><%= reporting.title %></span>
							<% if current_user.id.to_s == reporting.publisher_id.to_s %>
								<span class="reporting-edit"><%= link_to "エディット", edit_contact_reporting_path(@contact, reporting) %></span>
								<%= link_to "削除", contact_reporting_path(@contact, reporting), method: :delete, data: {confirm: 'このメッセージと添付のファイルは削除されます。'} %>

							<% end %>
						</div>
						
						<p class="reporting-message"><%= publisher_name(reporting) %>: <%= reporting.message %></p>
						添付ファイル：<br/>
						<ul>
							<% reporting.reporting_attachments.each do |a| %>
								<li><%= link_to "#{a.attachment.file.filename}", a.attachment_url %></li>
							<% end %>
						</ul>

						<p><%= reporting_read(reporting) %></p>
						
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>