<div class="spec-show-container">
	<%= @spec.publisher_id %>
	<%= @spec.creation_date %>
	<%= @spec.insurance_number %>
	<%= @spec.gender %>
	<%= @spec.birthday %>
	<%= @spec.address %>
	<%= @spec.phone %>
	<%= @spec.fax %>
	<%= @spec.kaigo_level %>
	<%= @spec.kaigo_validity_from %>
	<%= @spec.kaigo_validity_until %>
	<%= @spec.dependency_physical %>
	<%= @spec.dependency_mental %>
	<%= @spec.handicap %>
	<%= @spec.home %>
	<%= @spec.economics %>
	<%= @spec.emergency_contact_name %>
	<%= @spec.emergency_contact_address %>
	<%= @spec.emergency_contact_phone %>
	<%= @spec.emergency_contact_name_2 %>
	<%= @spec.emergency_contact_address_2 %>
	<%= @spec.emergency_contact_phone_2 %>
	<%= @spec.emergency_contact_name_3 %>
	<%= @spec.emergency_contact_address_3 %>
	<%= @spec.emergency_contact_phone_3 %>
	<%= @spec.genogram %>
	<%= @spec.doctor_name %>
	<%= @spec.hospital_name %>
	<%= @spec.doctor_phone %>
	<%= @spec.doctor_address %>
	<%= @spec.disease_from %>
	<%= @spec.disease_name %>
	<%= @spec.disease_doctor %>
	<%= @spec.disease_evolution %>
	<%= @spec.disease_from_2 %>
	<%= @spec.disease_name_2 %>
	<%= @spec.disease_doctor_2 %>
	<%= @spec.disease_evolution_2 %>
	<%= @spec.other %>
</div>