<div id="navigation-print">
	<%= render 'layouts/projects_app_navigation' %>
</div>


<div class="timeline-container">

	  <div id="spec-form-container">

	  	<div class="well well-form-specs">
	  		<div id="url-block-print">
	  			<%= link_to "案件へ戻る", project_path(@project), class: "project-header-button" %><br/>

	  			<% if policy(@project).is_leader? %>
	  				<%= link_to "基本情報を変更する", edit_project_spec_path(@project, @spec), class: "project-header-button" %><br/>
	  			<% end %>

	  			<%= link_to "Pdf化する", project_spec_path(@project, @spec, format: "pdf"), target: "_blank", class: "btn btn-info" %>
	  		</div>


	  	<h2 class="h2-centered"><%= @project.project_name.delete("　") %>様</h1><br/>

	  	作成者氏名：<%= @publisher.company %> <%= @publisher.username.delete('　') %><br/>
	  	相談日：<%= spec_creation_date(@spec) %><br/>
	  	最新アップデート：<%= @spec.updated_at.strftime("平成#{@updated_at.year - 1988}年%m月%d日") %>

		    
		<table class="table table-bordered" id="table-specs">
		    <tr><th class="table-head-specs col-md-2" rowspan="3" >個人情報</th><th class="table-head-specs col-md-1">性別</th><td class="col-md-2"><%= gender(@spec) %></td><th class="table-head-specs">誕生日</th><td colspan="2"><%= spec_birthday(@spec) %></td></tr>
		    <tr><th class="table-head-specs">住所</th><td colspan="4"><%= @spec.try(:address) %></td></tr>
		    <tr><th class="table-head-specs">TEL</th><td colspan="1"><%= @spec.try(:phone) %></td><th class="table-head-specs">携帯電話</th><td colspan="2"><%= @spec.try(:cellphone) %></td></tr>
		    <tr><th class="table-head-specs" rowspan="3">介護認定</th><th class="table-head-specs col-md-1">介護度</th><td class="col-md-1"><%= @spec.try(:kaigo_level) %></td><th class="table-head-specs col-md-1">認定日</th><td colspan="2"><%= spec_evaluation_date(@spec) %></td></tr>
		    <tr><th class="table-head-specs">保険者番号</th><td colspan="1"><%= @spec.try(:insurance_issuer) %></td><th class="table-head-specs col-md-2">被保険者番号</th><td colspan="2" class="col-md-1"><%= @spec.try(:insurance_number) %></td></tr>
		    <tr><th class="table-head-specs">認定有効期限</th><td colspan="4"><%= spec_kaigo_validity_from(@spec) %>　~ <%= spec_kaigo_validity_until(@spec) %></td></tr>
		    <tr><th class="table-head-specs" rowspan="2">日常生活<br/>自立度</th><td colspan="2">認知症高齢者の自立度</td><td colspan="3"><%= @spec.try(:dependency_mental) %></td></tr>
		    <tr><td colspan="2">障害高齢者の日自立度</th><td colspan="3"><%= @spec.try(:dependency_physical) %></td></tr>
		    <tr><th class="table-head-specs">障害などの認定</th><td colspan="5"><%= handicaps(@spec) %></td></tr>
		    <tr><th class="table-head-specs">本人の住居 </th><td colspan="2"><%= home_owner(@spec) %> <%= home_house(@spec) %> <%= has_room(@spec) %> <%= has_stairs(@spec) %></td><th class="table-head-specs" rowspan="3">家族構成</th><td colspan="2" rowspan="3"><%= @spec.try(:genogram) %></td></tr> 
		    <tr><th class="table-head-specs">経済状況</th><td colspan="2"><%= @spec.try(:economics) %></td></tr>
		    <tr><th class="table-head-specs">負担割合</th><td colspan="2"><%= payment_ratio(@spec) %></td></tr>

		    <tr><th class="table-head-specs" rowspan="2">緊急連絡先1</th><th class="table-head-specs">氏名</th><td colspan="2"><%= @spec.try(:emergency_contact_name) %></td><th class="table-head-specs col-md-1">続柄</th><td class="col-md-2"><%= @spec.try(:emergency_contact_relation) %></td></tr>
		    <tr><th class="table-head-specs">住所.<br/>連絡先</th><td colspan="4"><%= @spec.try(:emergency_contact_address_phone) %></td></tr>
		    <tr><th class="table-head-specs" rowspan="2">緊急連絡先2</th><th class="table-head-specs">氏名</th><td colspan="2"><%= @spec.try(:emergency_contact_name_2) %></td><th class="table-head-specs">続柄</th><td><%= @spec.try(:emergency_contact_relation_2) %></td></tr>
		    <tr><th class="table-head-specs">住所.<br/>連絡先</th><td colspan="4"><%= @spec.try(:emergency_contact_address_phone_2) %></td></tr>


		    <tr><th class="table-head-specs" rowspan="3">主治医</th><th class="table-head-specs">医師名</th><td colspan="2"><%= @spec.try(:doctor_name) %></td><th class="table-head-specs">TEL</th><td><%= @spec.try(:doctor_phone) %></td></tr>
		    <tr><th class="table-head-specs">医療<br/>機関名</th><td colspan="4"><%= @spec.try(:hospital_name) %></td></tr>
		    <tr><th class="table-head-specs">住所.<br/>連絡先</th><td colspan="4"><%= @spec.try(:doctor_address) %></td></tr>
		    <tr class="tr-other"><th class="table-head-specs">備考</th><td  colspan="5"><%= @spec.try(:other) %></td></tr>

		</table>

	  </div>
	</div>
	
</div>



