<div id="navigation-print">
	<%= render 'layouts/projects_app_navigation' %>
</div>


<div class="timeline-container">

	  <div id="spec-form-container">

	  	<div class="well well-form-specs">
	  		<div id="url-block-print">
	  			<%= link_to "案件へ戻る", project_path(@project), class: "project-header-button" %><br/>

	  			<% if policy(@project).is_leader? %>
	  				<%= link_to "基本情報を変更する", edit_project_spec_path(@project, @spec), class: "project-header-button" %><br/>
	  			<% end %>

	  			<%= link_to "Pdf化する", project_spec_path(@project, @spec, format: "pdf"), target: "_blank", class: "btn btn-info" %>
	  		</div>


	  	<h1 id="project-spec-title"><%= @project.project_name.delete("　") %>様</h1><br/>

		    
		<table class="table">
		    <tr><th class="table-head-specs col-xs-4">アセスメント日</th><td><%= @spec.try(:creation_date) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">被保険者番号</th><td><%= @spec.try(:insurance_number) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">性別</th><td><%= gender(@spec) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">誕生日</th><td><%= @spec.try(:birthday) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">住所</th><td><%= @spec.try(:address) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">電話番号</th><td><%= @spec.try(:phone) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">携帯電話</th><td><%= @spec.try(:cellphone) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">要介護度</th><td><%= @spec.try(:kaigo_level) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">認定有効期限</th><td><%= @spec.try(:kaigo_validity_from) %>　~ <%= @spec.try(:kaigo_validity_until) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">認知症高齢者の自立度</th><td><%= @spec.try(:dependency_mental) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">障害高齢者の日自立度</th><td><%= @spec.try(:dependency_physical) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">障害などの認定：身障</th><td><%= @spec.try(:handicap_physical) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">療育</th><td><%= @spec.try(:handicap_rehabilitation) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">精神</th><td><%= @spec.try(:handicap_psychological) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">難病</th><td><%= @spec.try(:handicap_disease) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">本人の住居 </th><td><%= home_owner(@spec) %> <%= home_house(@spec) %> <%= has_room(@spec) %> <%= has_stairs(@spec) %></td></tr> 
		    <tr><th class="table-head-specs col-xs-4">経済状況</th><td><%= @spec.try(:economics) %></td></tr>

		    <tr><th class="table-head-specs col-xs-4">氏名</th><td><%= @spec.try(:emergency_contact_name) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">続柄</th><td><%= @spec.try(:emergency_contact_relation) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">住所.連絡先</th><td><%= @spec.try(:emergency_contact_address_phone) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">氏名</th><td><%= @spec.try(:emergency_contact_name_2) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">続柄</th><td><%= @spec.try(:emergency_contact_relation_2) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">住所.連絡先</th><td><%= @spec.try(:emergency_contact_address_phone_2) %></td></tr>

		    <tr><th class="table-head-specs col-xs-4">医師名</th><td><%= @spec.try(:doctor_name) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">医療機関名</th><td><%= @spec.try(:hospital_name) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">電話番号</th><td><%= @spec.try(:doctor_phone) %></td></tr>
		    <tr><th class="table-head-specs col-xs-4">住所.連絡先</th><td><%= @spec.try(:doctor_address) %></td></tr>

		</table>

	  </div>
	</div>
	
</div>



