<div class="container-fluid">
	<div class="well membership-index-well">
		<h1><%= @project.project_name %>の案件メンバー</h1>

	    <%= render 'list' %>

	    <% if @invited.present? %>
		    <%= render 'invited' %>
	    <% end %>
	    <br/>

	    <%= render 'projects/tokeninput' %>

	    <div class="membership-form">
	    	<%= render 'form' %>
	    </div>
	    

	    <%= link_to '案件へ戻る', project_path(@project) %>

	</div>
</div>



