<div class="container-fluid"> 
  <%-# Navigation menu -%>
  <%= render 'layouts/projects_app_navigation' %>

  <div class="timeline-container">
    <%-# Button to create new project -%>
    <%= @schedule.name %>
    <%= @schedule.year %>
    <%= @schedule.month %>
    <%= @schedule.corporation.name %>
    <%= @schedule.owner.username %>
  </div>

</div>
