<div class="home">

    <div class="sign-in">
          <h2>ログイン</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :username, "ユーザー名" %><br />
              <%= f.text_field :username, autofocus: true, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :company, "事業所名" %><br />
              <%= f.text_field :company, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password, "パスワード" %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-check">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "ユーザー情報を保存する", class: "form-check-input" %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-info" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
    </div>
 
    <div class="top-frame">
    	<div id="logo-container">
    		
    	</div>
    	<div id="message-container">
    		<p class="top-message-idea" id="top-message-brand">Colibri</p>
    		<p id="top-message-idea">介護事業所間の壁を飛び越える</p>
    	</div>

      
    </div>

    <div id="they-trust-us">
    	
    </div>

    <div class="what-you-can-do" id="what-you-can-do-1">
    	
    </div>

    <div class="what-you-can-do" id="what-you-can-do-2">
    	
    </div>

    <div class="what-you-can-do" id="what-you-can-do-3">
    	
    </div>

    <div id="merits">
    	<div class="text-container">
    		<div id="connect">
    			<div id="connect-image-container">
    				<%= image_tag("connect.jpeg") %>
    			</div>
    			<div class="merits-text">
    				利用者への認識を統一
    			</div>
    		</div>
    		<div id="time">
    			<div id="time-image-container">
    				<%= image_tag("time.jpeg") %>
    			</div>
    			<div class="merits-text">
    				利用者との時間を増す
    			</div>
    		</div>
    		<div id="security">
    			<div id="security-image-container">
    				<%= image_tag("security.jpeg") %>
    			</div>
    			<div class="merits-text">
    				利用者の情報を守る
    			</div>
    		</div>
    	</div>

    </div>

    <div id="message">
    	
    </div>



  <%= render "topmessage" %>

</div>

